In [9]:
import pandas as pd
import numpy as np

In [10]:
# waitlist and enrollment data
wl=pd.read_csv("onlywaitlists.csv")
wl

,Class,Data,BCCR1,BCCR2,BCCR3,BCCR4,CCCOMA3,CCCOMA4,CCCOMS3,CCCOMS4,...,GOSTAT2,GSCSCA3,GSCSCA4,GSFNEC4,GSUNDC2,GSUNDC3,PHBION1,OTHER,Total,Cap
0,TOTALS,NaN,132,131,106,89,9,10,103,108,...,0,62,109,5,35,42,0,NaN,NaN,NaN
1,CBMFW4761,enrollment,1,1,1,2,0,0,3,0,...,0,0,4,0,0,0,0,14.0,48.0,50.0
2,CBMFW4761,waitlist,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
3,COMSE6111,enrollment,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,1.0,75.0
4,COMSE6111,waitlist,0,0,0,3,0,0,5,12,...,0,2,5,0,0,0,0,5.0,172.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,CSEEW4840,waitlist,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0.0,46.0,NaN
83,CSORW4231,enrollment,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,200.0
84,CSORW4231,waitlist,0,0,7,3,2,0,5,4,...,0,6,7,0,0,0,0,23.0,193.0,NaN
85,ENGIE1006,enrollment,7,9,1,2,0,0,0,1,...,0,0,0,1,3,2,0,22.0,184.0,200.0
86,ENGIE1006,waitlist,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN

In [11]:
# data on what each of the group names mean
st=pd.read_csv( "students.csv")
st

,Program,Program_Name,Degree,Cert_Type,School,Department,Bill_Program_Flag,Interdisciplinary_Flag,Graduation_Flag,Office_Name,Program_Status,Program_Status_Date,Data_Refresh_Date
0,CCCOMA,COMPUTER SCIENCE AND MATHEMATICS,AB,MAJOR,CC,COMS,Y,N,Y,Computer Science,A,12/17/2004 0:00,2/7/2023 5:08
1,CCCOMS,COMPUTER SCIENCE,AB,MAJOR,CC,COMS,Y,N,Y,Computer Science,A,10/1/1991 0:00,2/7/2023 5:08
2,CCCOST,COMPUTER SCIENCE AND STATISTICS,AB,MAJOR,CC,COMS,Y,N,Y,Computer Science,A,9/11/2013 0:00,2/7/2023 5:08
3,CCDTSC,DATA SCIENCE ...,AB,MAJOR,CC,COMS,Y,N,Y,Computer Science,A,9/14/2016 0:00,2/7/2023 5:08
4,CCINFS,INFORMATION SCIENCES,AB,MAJOR,CC,COMS,Y,N,Y,Computer Science,A,6/10/2008 0:00,2/7/2023 5:08
5,CMCOMS,COMPUTER SCIENCE,AB,PREMED CONCN,CC,COMS,Y,N,Y,Computer Science,A,2/28/1997 0:00,2/7/2023 5:08
6,CNCOMS,COMPUTER SCIENCE,AB,CONCENTRATN,CC,COMS,Y,N,Y,Computer Science,A,10/1/1991 0:00,2/7/2023 5:08
7,CS/MBA,DUAL MS/MBA: COMPUTER SCIENCE AND BUSINESS,MS,DEGREE,EP,COMS,Y,N,Y,Computer Science,I,5/6/2000 0:00,2/7/2023 5:08
8,EACSIS,Information Systems,CPF,NON-DEGREE,EP,COMS,Y,N,N,Computer Science,A,5/13/1999 0:00,2/7/2023 5:08
9,EACSIT,Intelligent Systems,CPF,NON-DEGREE,EP,COMS,Y,N,N,Computer Science,A,6/28/1999 0:00,2/7/2023 5:08
10,EACSNS,Networking and Systems,CPF,NON-DEGREE,EP,COMS,Y,N,N,Computer Science,A,5/13/1999 0:00,2/7/2023 5:08
11,EDCOMS,COMPUTER SCIENCE,DES,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,9/25/1991 0:00,2/7/2023 5:08
12,EKCBIO,COMPUTATIONAL BIOLOGY,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
13,EKCSEC,COMPUTER SECURITY,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
14,EKFDCS,FOUNDATIONS OF COMPUTER SCIENCE,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
15,EKMLRN,MACHINE LEARNING,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
16,EKNLPR,NATURAL LANGUAGE PROCESSING,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
17,EKNSYS,NETWORK SYSTEMS,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
18,EKPERS,PERSONALIZED,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
19,EKSSYS,SOFTWARE SYSTEMS,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
20,EKTHES,THESIS,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
21,EKVSGR,VISION & GRAPHICS,NDG,TRACK,EP,COMS,N,N,Y,Computer Science,A,4/3/2013 0:00,2/7/2023 5:08
22,EMCOMS,COMPUTER SCIENCE,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,9/25/1991 0:00,2/7/2023 5:08
23,EMCSAP,COMPUTER SCIENCE ALIGN PROGRAM,NDG,NON-DEGREE,EP,COMS,Y,N,Y,Computer Science,A,3/12/2020 0:00,2/7/2023 5:08
24,EMCSJN,DUAL MS -- COMPUTER SCIENCE & JOURNALISM,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,6/29/2010 0:00,2/7/2023 5:08
25,EMIDSE,DATA SCIENCE ...,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,8/12/2014 0:00,2/7/2023 5:08
26,EMIDSO,DATA SCIENCE ONLINE ...,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,8/11/2020 0:00,2/7/2023 5:08
27,ENCMEN,COMPUTER ENGINEERING,BS,MAJOR,EN,COMS,Y,Y,Y,Computer Science,A,8/1/1995 0:00,2/7/2023 5:08
28,ENCOMS,COMPUTER SCIENCE,BS,MAJOR,EN,COMS,Y,N,Y,Computer Science,A,9/25/1991 0:00,2/7/2023 5:08
29,EPCSE,COMPUTER SYSTEMS ENGINEERING,CSE,DEGREE,EP,COMS,Y,N,Y,Computer Science,I,9/25/1991 0:00,2/7/2023 5:08
30,ESCOMS,COMPUTER SCIENCE,NDG,NON-DEGREE,EP,COMS,Y,N,N,Computer Science,A,9/25/1991 0:00,2/7/2023 5:08
31,ETCOMS,MS/PHD TRACK -- COMPUTER SCIENCE,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,10/7/2004 0:00,2/7/2023 5:08
32,EUCSE,COMPUTER SYSTEMS ENGINEERING,CSE,DEGREE,EP,COMS,Y,N,Y,Computer Science,I,8/14/2002 0:00,2/7/2023 5:08
33,EVCOMS,COMPUTER SCIENCE,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,8/14/2002 0:00,2/7/2023 5:08
34,EWCOMS,MS/PHD TRACK -- COMPUTER SCIENCE,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,9/23/2005 0:00,2/7/2023 5:08
35,EYCOMS,COMPUTER SCIENCE,DES,MAJOR,EP,COMS,Y,N,Y,Computer Science,A,8/15/2002 0:00,2/7/2023 5:08
36,GCCOMS,COMPUTER SCIENCE,BS,CONCENTRATN,GS,COMS,N,N,Y,Computer Science,I,3/26/2003 0:00,2/7/2023 5:08
37,GCCSCA,COMPUTER SCIENCE,BA,CONCENTRATN,GS,COMS,N,N,Y,Computer Science,A,3/17/2014 0:00,2/7/2023 5:08
38,GDCOMS,COMPUTER SCIENCE,PHD,MAJOR,GF,COMS,Y,N,Y,Computer Science,A,9/25/1991 0:00,2/7/2023 5:08
39,GICOMS,COMPUTER SCIENCE,BS,MINOR,GS,COMS,N,N,Y,Computer Science,I,3/21/2008 0:00,2/7/2023 5:08
40,GLCOMS,COMPUTER SCIENCE,PHM,MAJOR,GF,COMS,N,N,Y,Computer Science,A,9/25/1991 0:00,2/7/2023 5:08
41,GSCOMA,COMPUTER SCIENCE AND MATHEMATICS,BA,MAJOR,GS,COMS,Y,N,Y,Computer Science,A,2/2/2007 0:00,2/7/2023 5:08
42,GSCOMS,COMPUTER SCIENCE,BS,MAJOR,GS,COMS,Y,N,Y,Computer Science,I,10/7/1991 0:00,2/7/2023 5:08
43,GSCOST,COMPUTER SCIENCE AND STATISTICS,BA,MAJOR,GS,COMS,Y,N,Y,Computer Science,A,9/11/2013 0:00,2/7/2023 5:08
44,GSCSCA,COMPUTER SCIENCE,BA,MAJOR,GS,COMS,Y,N,Y,Computer Science,A,3/17/2014 0:00,2/7/2023 5:08
45,GSDTSC,DATA SCIENCE ...,BA,MAJOR,GS,COMS,Y,N,Y,Computer Science,A,9/14/2016 0:00,2/7/2023 5:08
46,GSINFA,INFORMATION SCIENCES,BA,MAJOR,GS,COMS,Y,N,Y,Computer Science,A,3/17/2014 0:00,2/7/2023 5:08
47,GSINFS,INFORMATION SCIENCES,BS,MAJOR,GS,COMS,Y,N,Y,Computer Science,I,1/23/2009 0:00,2/7/2023 5:08
48,VMCOMS,COMPUTER SCIENCE,MS,MAJOR,EP,COMS,Y,N,Y,Computer Science,I,9/1/1996 0:00,2/7/2023 5:08

In [19]:
# sum together enrollment and waitlist data
wl_data=wl.groupby(['Class']).sum().reset_index()
# dtop the row the totals waitlist number per class
wl_data=wl_data.drop(43)
# drop excess column/rows, transpose to get groups as rows
wl_tr=wl_data.drop(['Class'], axis=1).transpose()
wl_tr=wl_tr.drop(["OTHER", "Total", "Cap"], axis=0)
# compute the total number of waitlists per group
wl_tr["total waitlists"]=wl_tr.sum(axis=1)
# total number of students in each group
wl_tr["total students"]=wl.iloc[0]

# compute the ratio betweem waitlists and total students
# this ratio can be interpeted as the average number of waitlists joined by students in this group
wl_tr["ratio"]=wl_tr["total waitlists"]/wl_tr["total students"]
# divide the number of waitlists per each course by the total number of waitlists
# this can be interpreted as the probability that a student in this group would join the waitlist for this particular class
wl_final=wl_tr[range(0,43)].div(wl_tr["total waitlists"], axis=0)
# bring back the previous columns, fill in naN values with 0
wl_final['waitlist']=wl_tr["total waitlists"]
wl_final['students']=wl_tr["total students"]
wl_final['ratio']=wl_tr["ratio"]
wl_final=wl_final.fillna(0)
wl_final

        Class                Data  BCCR1  BCCR2  BCCR3  BCCR4  CCCOMA3  \
0   CBMFW4761  enrollmentwaitlist      1      1      1      2        0
1   COMSE6111  enrollmentwaitlist      0      0      0      3        0
2   COMSE6156  enrollmentwaitlist      0      0      1      2        0
3   COMSE6178  enrollmentwaitlist      0      1      7      4        0
4   COMSE6261  enrollmentwaitlist      0      0      0      0        0
5   COMSE6424  enrollmentwaitlist      0      0      0      1        0
6   COMSE6732  enrollmentwaitlist      0      0      0      0        0
7   COMSE6915  enrollmentwaitlist      0      0      0      0        0
8   COMSE6998  enrollmentwaitlist      0      0      0      3        0
9   COMSW1004  enrollmentwaitlist     63     14     13      4        0
10  COMSW1404  enrollmentwaitlist      3      0      0      0        0
11  COMSW3102  enrollmentwaitlist      0      0      4      0        0
12  COMSW3132  enrollmentwaitlist      0      3      6      1        0
13  COMSW3134  enrollmentwaitlist     60     26      5      2        0
14  COMSW3157  enrollmentwaitlist      9     26      6      6        2
15  COMSW3203  enrollmentwaitlist     31     57     15      5        0
16  COMSW3261  enrollmentwaitlist      0     27     26      8        3
17  COMSW4111  enrollmentwaitlist      0     21     22     12        1
18  COMSW4115  enrollmentwaitlist      0      1      2      1        0
19  COMSW4118  enrollmentwaitlist      0      0      3      3        0
20  COMSW4160  enrollmentwaitlist      0      0      1      4        0
21  COMSW4167  enrollmentwaitlist      1      2      1      4        0
22  COMSW4170  enrollmentwaitlist      0     15     32     33        0
23  COMSW4172  enrollmentwaitlist      0      0      2      2        0
24  COMSW4182  enrollmentwaitlist      0      3      0      2        0
25  COMSW4223  enrollmentwaitlist      0      0      4      1        0
26  COMSW4232  enrollmentwaitlist      0      0      0      1        1
27  COMSW4460  enrollmentwaitlist      0      0      1      1        0
28  COMSW4701  enrollmentwaitlist      0      2      8      2        0
29  COMSW4705  enrollmentwaitlist      0      3     17     11        2
30  COMSW4721  enrollmentwaitlist      0      0      2      2        0
31  COMSW4732  enrollmentwaitlist      0      1      1     11        0
32  COMSW4733  enrollmentwaitlist      0      0      2      2        0
33  COMSW4771  enrollmentwaitlist      0      1      6      6        0
34  COMSW4773  enrollmentwaitlist      0      0      0      0        0
35  COMSW4995  enrollmentwaitlist      0      3      5     18        1
36  CSEEE6868  enrollmentwaitlist      0      0      0      0        0
37  CSEEW3827  enrollmentwaitlist      1     24     12      1        1
38  CSEEW4119  enrollmentwaitlist      0      0      5      3        0
39  CSEEW4121  enrollmentwaitlist      0      0      0      0        0
40  CSEEW4840  enrollmentwaitlist      0      0      0      0        0
41  CSORW4231  enrollmentwaitlist      0      0      7      3        2
42  ENGIE1006  enrollmentwaitlist      7      9      1      2        0

    CCCOMA4  CCCOMS3  CCCOMS4  ...  GOSTAT2  GSCSCA3  GSCSCA4  GSFNEC4  \
0         0        3        0  ...        0        0        4        0
1         0        5       12  ...        0        2        5        0
2         0        0        1  ...        0        0        3        0
3         0        1        5  ...        0        0        2        0
4         0        0        0  ...        0        2        0        0
5         0        1        1  ...        0        0        2        0
6         0        1        0  ...        0        0        2        0
7         0        0        0  ...        0        0        0        0
8         0        7       11  ...        0        2        6        0
9         0        0        0  ...        0        0        0        0
10        0        0        0  ...        0        0        0        0
11        0        3        1  ...        0        3        9        0
12        0        2        0  ...        0        2       13        0
13        0        0        0  ...        0        7        4        4
14        1        3        1  ...        0       15       16        0
15        0        4        1  ...        0       13        8        1
16        1       38        7  ...        0       24       28        0
17        1       19       11  ...        0       16        7        0
18        0       10        6  ...        0        0        4        0
19        0       11        6  ...        0        4        9        0
20        0        1        6  ...        0        1        2        0
21        0        5        6  ...        0        0        7        0
22        3       34       37  ...        0       18       37        1
23        0        3        2  ...        0        0        5        0
24        0        2        0  ...        0        0        1        0
25        0        2        7  ...        0        0        3        0
26        0        1        2  ...        0        2        3        0
27        0        6        8  ...        0        4        4        0
28        2       10        5  ...        0        6       12        0
29        1       22       15  ...        0        8       12        0
30        0        0        0  ...        0        1        3        0
31        1       13       21  ...        0        3        6        0
32        0        6        3  ...        0        4        7        0
33        0       10        5  ...        0        5       16        0
34        0        0        0  ...        0        0        0        0
35        4       21       23  ...        0        6       20        1
36        0        0        0  ...        0        0        0        0
37        5       14        4  ...        0       11       15        0
38        0        8        8  ...        0        2        9        0
39        0        0        0  ...        0        0        0        0
40        0        0        1  ...        0        1        1        0
41        0        5        4  ...        0        6        7        0
42        0        0        1  ...        0        0        0        1

    GSUNDC2  GSUNDC3  PHBION1  OTHER  Total    Cap
0         0        0        0   14.0   48.0   50.0
1         0        0        0    5.0  173.0   75.0
2         0        0        0    0.0   19.0   30.0
3         0        0        0    8.0   71.0   30.0
4         0        0        0    2.0   12.0   35.0
5         0        0        0    0.0   38.0   30.0
6         0        0        0    0.0   21.0   20.0
7         0        0        0    0.0    0.0   25.0
8         0        0        0    8.0  235.0  490.0
9        10        8        0   34.0  267.0  796.0
10        0        0        0    0.0    5.0  160.0
11        0        0        0    6.0   46.0   50.0
12        0        3        0   22.0   88.0   60.0
13       11       17        0   63.0  472.0  500.0
14        6        7        0   62.0  334.0  398.0
15       10       11        0   93.0  516.0  360.0
16        5        6        0   81.0  457.0  300.0
17        1        1        0   72.0  357.0  598.0
18        0        0        0    4.0   82.0  120.0
19        0        1        0    5.0  117.0  160.0
20        0        0        0    7.0   72.0   75.0
21        0        0        0    6.0   74.0   75.0
22        1        2        0   48.0  492.0  398.0
23        0        0        0    3.0   36.0   45.0
24        0        0        0    0.0   20.0   40.0
25        0        0        0    7.0   60.0   69.0
26        0        0        0    8.0   58.0   60.0
27        3        0        0   10.0   66.0   40.0
28        1        3        0   53.0  221.0  328.0
29        1        1        0   28.0  272.0  299.0
30        0        0        0    4.0   27.0  160.0
31        0        0        0   16.0  280.0  100.0
32        1        0        0   11.0  106.0  147.0
33        0        1        0   44.0  191.0  220.0
34        0        0        0    0.0    0.0   60.0
35        0        2        0   41.0  376.0  630.0
36        0        0        0    1.0   18.0   30.0
37        6        5        0   57.0  300.0  280.0
38        0        0        0   14.0  122.0  100.0
39        0        0        0    0.0    1.0  170.0
40        0        0        0    0.0   46.0  110.0
41        0        0        0   23.0  193.0  200.0
42        3        2        0   22.0  184.0  200.0

[43 rows x 47 columns]
        Class                Data  BCCR1  BCCR2  BCCR3  BCCR4  CCCOMA3  \
0   CBMFW4761  enrollmentwaitlist      1      1      1      2        0
1   COMSE6111  enrollmentwaitlist      0      0      0      3        0
2   COMSE6156  enrollmentwaitlist      0      0      1      2        0
3   COMSE6178  enrollmentwaitlist      0      1      7      4        0
4   COMSE6261  enrollmentwaitlist      0      0      0      0        0
5   COMSE6424  enrollmentwaitlist      0      0      0      1        0
6   COMSE6732  enrollmentwaitlist      0      0      0      0        0
7   COMSE6915  enrollmentwaitlist      0      0      0      0        0
8   COMSE6998  enrollmentwaitlist      0      0      0      3        0
9   COMSW1004  enrollmentwaitlist     63     14     13      4        0
10  COMSW1404  enrollmentwaitlist      3      0      0      0        0
11  COMSW3102  enrollmentwaitlist      0      0      4      0        0
12  COMSW3132  enrollmentwaitlist      0      3      6      1        0
13  COMSW3134  enrollmentwaitlist     60     26      5      2        0
14  COMSW3157  enrollmentwaitlist      9     26      6      6        2
15  COMSW3203  enrollmentwaitlist     31     57     15      5        0
16  COMSW3261  enrollmentwaitlist      0     27     26      8        3
17  COMSW4111  enrollmentwaitlist      0     21     22     12        1
18  COMSW4115  enrollmentwaitlist      0      1      2      1        0
19  COMSW4118  enrollmentwaitlist      0      0      3      3        0
20  COMSW4160  enrollmentwaitlist      0      0      1      4        0
21  COMSW4167  enrollmentwaitlist      1      2      1      4        0
22  COMSW4170  enrollmentwaitlist      0     15     32     33        0
23  COMSW4172  enrollmentwaitlist      0      0      2      2        0
24  COMSW4182  enrollmentwaitlist      0      3      0      2        0
25  COMSW4223  enrollmentwaitlist      0      0      4      1        0
26  COMSW4232  enrollmentwaitlist      0      0      0      1        1
27  COMSW4460  enrollmentwaitlist      0      0      1      1        0
28  COMSW4701  enrollmentwaitlist      0      2      8      2        0
29  COMSW4705  enrollmentwaitlist      0      3     17     11        2
30  COMSW4721  enrollmentwaitlist      0      0      2      2        0
31  COMSW4732  enrollmentwaitlist      0      1      1     11        0
32  COMSW4733  enrollmentwaitlist      0      0      2      2        0
33  COMSW4771  enrollmentwaitlist      0      1      6      6        0
34  COMSW4773  enrollmentwaitlist      0      0      0      0        0
35  COMSW4995  enrollmentwaitlist      0      3      5     18        1
36  CSEEE6868  enrollmentwaitlist      0      0      0      0        0
37  CSEEW3827  enrollmentwaitlist      1     24     12      1        1
38  CSEEW4119  enrollmentwaitlist      0      0      5      3        0
39  CSEEW4121  enrollmentwaitlist      0      0      0      0        0
40  CSEEW4840  enrollmentwaitlist      0      0      0      0        0
41  CSORW4231  enrollmentwaitlist      0      0      7      3        2
42  ENGIE1006  enrollmentwaitlist      7      9      1      2        0

    CCCOMA4  CCCOMS3  CCCOMS4  ...  GOSTAT2  GSCSCA3  GSCSCA4  GSFNEC4  \
0         0        3        0  ...        0        0        4        0
1         0        5       12  ...        0        2        5        0
2         0        0        1  ...        0        0        3        0
3         0        1        5  ...        0        0        2        0
4         0        0        0  ...        0        2        0        0
5         0        1        1  ...        0        0        2        0
6         0        1        0  ...        0        0        2        0
7         0        0        0  ...        0        0        0        0
8         0        7       11  ...        0        2        6        0
9         0        0        0  ...        0        0        0        0
10        0        0        0  ...        0        0        0        0
11        0        3        1  ...        0        3        9        0
12        0        2        0  ...        0        2       13        0
13        0        0        0  ...        0        7        4        4
14        1        3        1  ...        0       15       16        0
15        0        4        1  ...        0       13        8        1
16        1       38        7  ...        0       24       28        0
17        1       19       11  ...        0       16        7        0
18        0       10        6  ...        0        0        4        0
19        0       11        6  ...        0        4        9        0
20        0        1        6  ...        0        1        2        0
21        0        5        6  ...        0        0        7        0
22        3       34       37  ...        0       18       37        1
23        0        3        2  ...        0        0        5        0
24        0        2        0  ...        0        0        1        0
25        0        2        7  ...        0        0        3        0
26        0        1        2  ...        0        2        3        0
27        0        6        8  ...        0        4        4        0
28        2       10        5  ...        0        6       12        0
29        1       22       15  ...        0        8       12        0
30        0        0        0  ...        0        1        3        0
31        1       13       21  ...        0        3        6        0
32        0        6        3  ...        0        4        7        0
33        0       10        5  ...        0        5       16        0
34        0        0        0  ...        0        0        0        0
35        4       21       23  ...        0        6       20        1
36        0        0        0  ...        0        0        0        0
37        5       14        4  ...        0       11       15        0
38        0        8        8  ...        0        2        9        0
39        0        0        0  ...        0        0        0        0
40        0        0        1  ...        0        1        1        0
41        0        5        4  ...        0        6        7        0
42        0        0        1  ...        0        0        0        1

    GSUNDC2  GSUNDC3  PHBION1  OTHER  Total    Cap
0         0        0        0   14.0   48.0   50.0
1         0        0        0    5.0  173.0   75.0
2         0        0        0    0.0   19.0   30.0
3         0        0        0    8.0   71.0   30.0
4         0        0        0    2.0   12.0   35.0
5         0        0        0    0.0   38.0   30.0
6         0        0        0    0.0   21.0   20.0
7         0        0        0    0.0    0.0   25.0
8         0        0        0    8.0  235.0  490.0
9        10        8        0   34.0  267.0  796.0
10        0        0        0    0.0    5.0  160.0
11        0        0        0    6.0   46.0   50.0
12        0        3        0   22.0   88.0   60.0
13       11       17        0   63.0  472.0  500.0
14        6        7        0   62.0  334.0  398.0
15       10       11        0   93.0  516.0  360.0
16        5        6        0   81.0  457.0  300.0
17        1        1        0   72.0  357.0  598.0
18        0        0        0    4.0   82.0  120.0
19        0        1        0    5.0  117.0  160.0
20        0        0        0    7.0   72.0   75.0
21        0        0        0    6.0   74.0   75.0
22        1        2        0   48.0  492.0  398.0
23        0        0        0    3.0   36.0   45.0
24        0        0        0    0.0   20.0   40.0
25        0        0        0    7.0   60.0   69.0
26        0        0        0    8.0   58.0   60.0
27        3        0        0   10.0   66.0   40.0
28        1        3        0   53.0  221.0  328.0
29        1        1        0   28.0  272.0  299.0
30        0        0        0    4.0   27.0  160.0
31        0        0        0   16.0  280.0  100.0
32        1        0        0   11.0  106.0  147.0
33        0        1        0   44.0  191.0  220.0
34        0        0        0    0.0    0.0   60.0
35        0        2        0   41.0  376.0  630.0
36        0        0        0    1.0   18.0   30.0
37        6        5        0   57.0  300.0  280.0
38        0        0        0   14.0  122.0  100.0
39        0        0        0    0.0    1.0  170.0
40        0        0        0    0.0   46.0  110.0
41        0        0        0   23.0  193.0  200.0
42        3        2        0   22.0  184.0  200.0

[43 rows x 47 columns]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# samples a normal distribution
# need to figure out standard deviation--> could ask for this data? or just use a random number like 1
# sets any negative values to 0
def sample_class_num(mean, std, N):
  sample=np.round(np.random.normal(mean, std, N))
  sample[sample<0]=0
  return sample

# randomly chooses courses according to the distribution
def course_ranking(class_num, course_prob):
  return np.random.choice(44,class_num,p=course_prob, replace=False)

# for a certain group compute a sample of course rankings
def sample_course_ranking(group):
  cr=wl_final.loc[group]
  class_num=sample_class_num(cr.ratio, 1, int(cr.students)).astype(int)
  vec=cr[range(0,43)]
  vec=np.array(np.append(vec,1-vec.sum()))
  rank=[course_ranking(x, vec) for x in class_num]
  return rank

In [ ]:
sample_class_num(4,1,10)

array([4., 4., 4., 4., 4., 3., 4., 3., 3., 3.])

In [ ]:
#SLIGHT BUG HERE, probabilities don't sum to 1
rank=sample_course_ranking("GSUNDC3")
rank

[array([9]),
 array([13, 28]),
 array([37]),
 array([13,  9]),
 array([37]),
 array([13, 33]),
 array([28]),
 array([13, 16, 19]),
 array([16, 13]),
 array([14, 15]),
 array([13, 16]),
 array([13, 15]),
 array([13]),
 array([15, 13, 37]),
 array([13, 35, 22, 15]),
 array([14, 28,  9]),
 array([13, 35]),
 array([15, 13]),
 array([], dtype=int64),
 array([9]),
 array([], dtype=int64),
 array([15]),
 array([15, 17]),
 array([], dtype=int64),
 array([35,  9]),
 array([14, 15, 13]),
 array([42, 13, 28]),
 array([], dtype=int64),
 array([9]),
 array([37, 15, 42]),
 array([ 9, 13]),
 array([ 9, 14, 13]),
 array([12]),
 array([22, 35]),
 array([28]),
 array([ 9, 12]),
 array([13]),
 array([14]),
 array([35, 14]),
 array([35, 15]),
 array([13, 14, 37]),
 array([28, 13])]

In [ ]:
## create ranks here
## i.e. [1,2,3]
## schedule with [1] will have score 3
## schedule with [2] will have score 2
## schedule with [3] will have score 1
## utility is sum of scores, sort bundles by highest utility


def generate_demand_set(arr, max_bundle_size):
    possible_bundles = []
    for i in range(len(arr)):
        for j in range(i + 1, len(arr) + 1):
            bundle = arr[i:j]
            possible_bundles.append((sum(bundle), bundle))
    #put in order of utility
    possible_bundles.sort(key=lambda x: (x[0], len(x[1])), reverse=True)
    #get rid of bundles that are too large
    final_possible_bundles = [x[1] for x in possible_bundles if len(x) <= max_bundle_size]
    return final_possible_bundles

In [ ]:
rank=sample_course_ranking("GSUNDC3")

all_demand_sets = []
for student in rank:
  demand_set = generate_demand_set(student, 3)
  all_demand_sets.append(demand_set)

all_demand_sets

[[array([16, 13]), array([16]), array([13])],
 [array([15, 14, 28]),
  array([14, 28]),
  array([15, 14]),
  array([28]),
  array([15]),
  array([14])],
 [array([16, 13]), array([16]), array([13])],
 [array([13,  9]), array([13]), array([9])],
 [array([19])],
 [array([14, 15]), array([15]), array([14])],
 [array([9])],
 [array([13])],
 [array([14, 16]), array([16]), array([14])],
 [array([42])],
 [array([19, 16]), array([19]), array([16])],
 [array([15, 13]), array([15]), array([13])],
 [array([9])],
 [array([13, 14]), array([14]), array([13])],
 [],
 [array([13, 15]), array([15]), array([13])],
 [array([15, 37, 13]),
  array([15, 37]),
  array([37, 13]),
  array([37]),
  array([15]),
  array([13])],
 [],
 [array([13])],
 [array([15, 16, 35]),
  array([16, 35]),
  array([35]),
  array([15, 16]),
  array([16]),
  array([15])],
 [array([22, 16, 17,  9]),
  array([22, 16, 17]),
  array([16, 17,  9]),
  array([22, 16]),
  array([16, 17]),
  array([17,  9]),
  array([22]),
  array([17]),
  array([16]),
  array([9])],
 [array([13])],
 [array([14])],
 [],
 [array([13])],
 [array([14])],
 [array([13])],
 [],
 [array([15, 13]), array([15]), array([13])],
 [array([12,  9]), array([12]), array([9])],
 [],
 [array([28, 33, 16]),
  array([28, 33]),
  array([33, 16]),
  array([33]),
  array([28]),
  array([16])],
 [array([14, 15,  9]),
  array([14, 15]),
  array([15,  9]),
  array([15]),
  array([14]),
  array([9])],
 [array([14])],
 [array([28])],
 [array([28])],
 [array([12, 15, 35, 28, 42]),
  array([15, 35, 28, 42]),
  array([35, 28, 42]),
  array([12, 15, 35, 28]),
  array([15, 35, 28]),
  array([28, 42]),
  array([35, 28]),
  array([12, 15, 35]),
  array([15, 35]),
  array([42]),
  array([35]),
  array([28]),
  array([12, 15]),
  array([15]),
  array([12])],
 [array([13, 14]), array([14]), array([13])],
 [array([16])],
 [],
 [array([35,  9]), array([35]), array([9])],
 [array([ 9, 16, 15]),
  array([16, 15]),
  array([ 9, 16]),
  array([16]),
  array([15]),
  array([9])]]